<!DOCTYPE html>
<html>

<head>
    <base href="/"></base>
    <title>Digital Wall</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1EyTj780VRgYLbGa5T5bcmKDOSWUM2tI&libraries=places" async defer></script>
    <link rel="icon" href="build/img/favicon.ico" sizes="16x16">
    <link href="/build/css/vendor.min.css" rel="stylesheet">
    <link href="/build/css/app.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script src="/vendor/tinymce/tinymce.min.js"></script>
    <script src="/build/js/vendor.min.js"></script>
    <script src="/build/js/app.min.js"></script>
</head>

<body ng-app="app" ng-controller="mainController" infinite-scroller="loadMore()">
    <div class="load-overlay" data-ng-if="ajaxLoader" aria-hidden="true">
        <img class="load-image" src="assets/images/ajax-loader.gif">
    </div>
    <div data-ui-view="root"></div>
</body>

</html>